* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.about {
  min-height: 400px;
  padding: 100px 0 100px 0;
}
.about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__block {
  min-height: 395px;
  width: 300px;
}
.about__block h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}
.about__block p {
  margin-top: 17px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.about__block figure {
  margin-top: 48px;
  text-align: center;
}
.about__block figure img {
  width: 30px;
  height: 13px;
}
.about__block a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.36px;
  color: #4D5053;
}
.about__block a:hover {
  color: #CDA274;
}

.challenging {
  min-height: 600px;
  padding: 0px 0 100px 0;
}
.challenging__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.challenging__block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 525px;
}
.challenging__title {
  margin-top: 14px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292F36;
}
.challenging__story {
  margin-top: 40px;
}
.challenging__story p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.challenging__block-3 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.challenging__block-3 img {
  height: 615px;
}
.challenging__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 50px 0;
}
.challenging__frame_call img {
  width: 93px;
  height: 93px;
}
.challenging__frame_info {
  margin: 10px 0px 10px 20px;
}
.challenging__frame_number {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.challenging__frame_text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

header {
  position: relative;
}

.hamburger {
  display: none;
}

.menu {
  width: 500px;
}

img {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0%;
  right: 85.25%;
  top: calc(50% - 25px - 6px);
  border-radius: 0px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  z-index: 5;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  letter-spacing: 0.4px;
  color: #292F36;
}

a:hover {
  color: #CDA274;
}

.promo {
  min-height: 831px;
  background: url(../img/promo.png) center 50%/cover no-repeat;
  padding: 215px 0 260px 0;
}
.promo__header {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 80px;
  line-height: 96px;
  /* or 120% */
  letter-spacing: 0.22px;
  color: #292F36;
}
.promo__descr {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  margin-top: 19px;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin-top: 35px;
  height: 71px;
  width: 207px;
  background: #292F36;
  border: 2px solid #292F36;
  border-radius: 18px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}
.promo__btn p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  z-index: 1;
  letter-spacing: 0.72px;
  color: #FFFFFF;
}
.promo__btn img {
  height: 30px;
  z-index: 1;
}
.promo__btn:hover {
  border: 2px solid #CDA274;
}

.about {
  min-height: 400px;
  padding: 100px 0 100px 0;
}
.about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__block {
  min-height: 395px;
  width: 300px;
}
.about__block h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 25px;
  line-height: 39px;
  /* identical to box height, or 156% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}
.about__block p {
  margin-top: 17px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.about__block figure {
  margin-top: 48px;
  text-align: center;
}
.about__block figure img {
  width: 30px;
  height: 13px;
}
.about__block a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.36px;
  color: #4D5053;
}
.about__block a:hover {
  color: #CDA274;
}

.people {
  min-height: 675px;
  margin-top: 100px;
}
.people__background {
  background-color: #F4F0EC;
  border-radius: 50px;
  padding: 100px 0 120px 0;
}
.people h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 45px;
  line-height: 58px;
  /* identical to box height, or 130% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}
.people__blocks {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.people__block {
  min-height: 289px;
  width: 356px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 30px;
}
.people__frame {
  padding: 50px 35px 45px 30px;
}
.people__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.people__style img {
  width: 77px;
  height: 77px;
}
.people__style h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;
  color: #292F36;
}
.people__style h4 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;
  color: #4D5053;
}
.people__from {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.people__frame p {
  margin-top: 25px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  letter-spacing: 0.22px;
  color: #4D5053;
}

.cooperate {
  min-height: 100px;
  margin: 100px auto;
}
.cooperate__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cooperate__brand li {
  margin-top: 20px;
}

.work {
  min-height: 600px;
  margin-top: 100px;
}
.work h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}
.work h4 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292F36;
}
.work__subtitle {
  max-width: 715px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.work__style {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}
.work__project {
  width: 590px;
  min-height: 440px;
  padding: 20px 20px 0px 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.work__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 660px;
}
.work__img_vector {
  position: absolute;
  width: 10px;
  height: 15px;
  left: 40%;
  top: 34%;
}
.work__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.work__btn {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  outline: none;
  cursor: pointer;
}

.blogs {
  min-height: 1301px;
}
.blogs h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
}
.blogs__subtitle {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.blogs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.blogs-item {
  margin: 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 385px;
  min-height: 436px;
  padding: 21px 21px 55px 21px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-radius: 62px;
}
.blogs-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border-radius: 45px 45px 0px 0px;
}
.blogs-item__wrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 335px;
  border-radius: 45px 45px 0px 0px;
  background: url("../img/blogs/img2..png");
}
.blogs-item__wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 335px;
  background: url("../img/blogs/img3..png");
  border-radius: 45px 45px 0px 0px;
}
.blogs-item__wrapper-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 335px;
  background: url("../img/blogs/img4..png");
  border-radius: 45px 45px 0px 0px;
}
.blogs-item__wrapper-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 335px;
  background: url("../img/blogs/img5..png");
  border-radius: 45px 45px 0px 0px;
}
.blogs-item__wrapper-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 335px;
  background: url("../img/blogs/img6..png");
  border-radius: 45px 45px 0px 0px;
}
.blogs-item__wrapper-5 background {
  width: 100%;
}
.blogs-item__title {
  margin: -84px 196px 29px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  border-radius: 8px 8px 8px 0px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  background-color: #fff;
  color: #4D5053;
}
.blogs-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogs-item__subtitle {
  margin-top: 332px;
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292F36;
}
.blogs-item__calendar {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.blogs-item__number {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.number {
  background-color: #F4F0EC;
  min-height: 475px;
  padding: 140px 0;
}
.number_item {
  border-right: 2px solid #CDA274;
  padding-right: 75px;
}
.number_item:last-child {
  border-right: none;
}
.number_item h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 1.7px;
  color: #CDA274;
}
.number_item p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.join {
  padding: 100px 0;
}
.join_content {
  min-height: 415px;
  background: #292F36;
  border-radius: 70px;
  padding: 100px 0 70px 0;
}
.join_content h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
}
.join_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #FFFFFF;
}
.join_btn {
  position: relative;
  background: #CDA274;
  border: 2px solid #CDA274;
  -webkit-box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  height: 71px;
  width: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.join_btn img {
  width: 30px;
}
.join_btn:hover {
  border: 2px solid #FFFFFF;
}

.footer {
  min-height: 400px;
}
.footer_content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 70px;
}
.footer_content_item-main {
  max-width: 350px;
}
.footer_content_item-main p {
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* or 150% */
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer_content_item-main_social {
  margin-top: 20px;
  max-width: 200px;
}
.footer_content_item-main_social svg:hover {
  color: #CDA274;
}
.footer_content_item {
  width: 120px;
}
.footer_content_item h3 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height, or 150% */
  letter-spacing: 0.22px;
  color: #292F36;
}
.footer_content_item-links {
  margin-top: 20px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer_about {
  padding: 35px 0 50px 0;
  max-width: 780px;
  margin: 0 auto;
}
.footer_about li {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}
.footer_about li:nth-child(2n) {
  color: #CDA274;
}

.contact {
  width: 290px;
  min-height: 165px;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .hamburger {
    display: none;
  }
  .about__block {
    width: 290px;
  }
  .challenging__title {
    font-size: 45px;
  }
  .challenging__block-3 img {
    width: 400px;
    height: 450px;
  }
  .people__background {
    padding: 50px 0 50px 0;
  }
  .people__block {
    margin-top: 30px;
  }
  .challenging__block-1 {
    width: 485px;
  }
  .work__project {
    width: 480px;
  }
  .number_item {
    padding-right: 65px;
  }
  .number_item h3 {
    font-size: 70px;
  }
  .number_item p {
    font-size: 17px;
  }
  .contact {
    width: 290px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .hamburger {
    display: none;
  }
  a {
    font-size: 18px;
  }
  .promo__header {
    font-size: 60px;
    line-height: 70px;
  }
  .about__block {
    display: block;
    margin: 0 auto;
  }
  .about__block {
    min-height: 300px;
  }
  .people__block {
    width: 320px;
  }
  .work__project {
    width: 360px;
  }
  .cooperate__brand {
    width: 500px;
    margin: 0 auto;
  }
  .number_item {
    padding-right: 45px;
  }
  .number_item h3 {
    font-size: 50px;
  }
  .number_item p {
    font-size: 14px;
  }
  .footer_content_item-main {
    max-width: 225px;
  }
  .contact {
    width: 150px;
  }
  .footer_about li {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .menu {
    width: 350px;
  }
  .container {
    width: 540px;
  }
  .hamburger {
    display: none;
  }
  .promo {
    min-height: 600px;
    padding: 150px 0 150px 0;
  }
  img {
    height: 30px;
  }
  a {
    font-size: 16px;
  }
  .promo__header {
    font-size: 50px;
    line-height: 60px;
  }
  .promo__descr {
    font-size: 15px;
  }
  .about {
    padding: 50px 0 50px 0;
  }
  .cooperate__brand {
    width: 315px;
    margin: 0 auto;
  }
  .challenging__block-3 img {
    display: none;
  }
  .work__project {
    width: 590px;
  }
  .number {
    min-height: 140px;
    padding: 70px 0;
  }
  .number_item {
    padding-right: 20px;
  }
  .number_item h3 {
    font-size: 40px;
    line-height: 2;
  }
  .join {
    padding: 60px 0;
  }
  .footer_content {
    display: block;
  }
  .footer_content_items {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_content_item {
    max-width: 300px;
  }
  .footer_content_item h3 {
    font-size: 20px;
  }
  .footer_content_item a {
    font-size: 14px;
  }
  .footer_content_item-links {
    min-height: 170px;
  }
  .footer_content_item-main {
    max-width: 320px;
    margin: 0 auto;
  }
  .footer_content_item-main img {
    display: block;
    margin: 0 auto;
  }
  .footer_content_item-main p {
    text-align: center;
    font-size: 15px;
  }
  .footer_content_item-main_social {
    margin: 10px auto;
    max-width: 150px;
  }
  .contact {
    width: 210px;
  }
  .footer_about li {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 375px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #CDA274;
    margin-bottom: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span:nth-child(1) {
    margin-bottom: -2px;
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    margin-bottom: -2px;
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    margin-bottom: -2px;
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu li {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu a {
    font-size: 20px;
  }
  .promo {
    min-height: 470px;
    padding: 120px 0 105px 0;
  }
  .promo__header {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .promo__descr {
    font-size: 15px;
    line-height: 20px;
    margin-top: 25px;
    text-align: center;
    color: #000000;
  }
  .promo__btn {
    height: 50px;
    width: 155px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .promo__btn p {
    font-size: 15px;
  }
  .promo__btn img {
    height: 20px;
  }
  .about__block figure {
    margin-top: 20px;
  }
  .people h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .challenging__blocks {
    background: url(../img/cook.png) no-repeat center cover/cover;
  }
  .challenging__block-3 {
    display: none;
  }
  .join {
    padding: 50px 0;
  }
  .join_content h2 {
    font-size: 30px;
  }
  .join_content p {
    font-size: 18px;
  }
  .join_btn {
    height: 55px;
    width: 185px;
  }
  .number_item {
    padding-right: 12px;
    padding-left: 8px;
  }
  .number_item h3 {
    font-size: 30px;
  }
  .number_item p {
    font-size: 10px;
  }
  .contact {
    width: 130px;
  }
  .footer_content_item {
    margin: 10px;
  }
  .footer_about li {
    font-size: 10px;
  }
  .footer_content_item a {
    font-size: 11px;
  }
}/*# sourceMappingURL=index.css.map */