* {
    font-family: 'DM Serif Display', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Jost', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}




@import 'blocks/about.scss';
@import 'blocks/challenging.scss';
@import 'blocks/header.scss';
@import 'blocks/promo.scss';
@import 'blocks/about.scss';
@import 'blocks/people.scss';
@import 'blocks/cooperate.scss';
@import 'blocks/work.scss';
@import './blocks/number.scss';
@import 'blocks/media.scss';
