header {
    padding: 20px 0 100px 0;
    min-height: 62px;
    display: flex;
    justify-content: space-between;
}
img {
    height: 50px;
    align-items: center;
    left: 0%;
    right: 85.25%;
    top: calc(50% - 50px/2 - 6px);

    border-radius: 0px;
}

nav {
    width: 500px  ;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.4px;

    color: #292F36;
}
a:hover {
    color: #CDA274;
}