.promo {
    min-height: 831px;
    background: url(../img/promo.png) center 50%/cover no-repeat;
    padding: 195px 0 260px 0;

    &__header {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-size: 80px;
        line-height: 96px;
        /* or 120% */
        letter-spacing: 0.22px;
        
        color: #292F36;
    }
    &__descr {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height, or 150% */
        margin-top: 19px;
        letter-spacing: 0.22px;

        color: #4D5053;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        margin-top: 35px;
        height: 71px;
        width: 207px;
        background: #292F36;
        border: 2px solid #292F36;
        border-radius: 18px;
        cursor: pointer;
		// check out mdn docs for different types of blend modes. 
		// mix-blend-mode: difference;
        p {
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height, or 150% */
            z-index: 1;
            letter-spacing: 0.72px;

            color: #FFFFFF;
        }
        img {
            z-index: 1;
        }
    }
    // &__btn:hover {
    //     box-shadow: 3px 3px 20px #4D5053;;
    // }
    &__btn::before {
        transition: all 0.5s cubic-bezier(.29,.62,.82,.68);
		content: '';
		width: 50%;
		height: 100%;
        border-radius: 18px;
        background: #292F36;
        border: 2px solid #292F36;
		position: absolute;
		top: 0;
		left: 0;
		// check out mdn docs for different types of blend modes. 
		mix-blend-mode: difference;
    }
    &__btn:hover{
		&::before{
			background: #292F36;
			width: 100%;
		}
    }
}