header {
    position: relative;
}


.hamburger {
    display: none;
}
.menu {
    width: 500px;
}
img {
    height: 50px;
    align-items: center;
    left: 0%;
    right: 85.25%;
    top: calc(50% - 50px/2 - 6px);

    border-radius: 0px;
}
.main {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: fixed;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	z-index: 5;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.4px;

    color: #292F36;
}
a:hover {
    color: #CDA274;
}